@charset "UTF-8";

@font-face {
	font-family: "Helvetia";
	src: url("/fonts/Helvetia/HelveticaVerbundene.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("fonts/Atkinson/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
	     url("fonts/Atkinson/WOFF/Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
	     url("fonts/Atkinson/TTF/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype"),
	     url("fonts/Atkinson/SVG/Atkinson-Hyperlegible-Regular-102.svg") format("svg");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("fonts/Atkinson/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
	     url("fonts/Atkinson/WOFF/Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
	     url("fonts/Atkinson/TTF/Atkinson-Hyperlegible-Bold-102.ttf") format("truetype"),
	     url("fonts/Atkinson/SVG/Atkinson-Hyperlegible-Bold-102.svg") format("svg");
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("fonts/Atkinson/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
	     url("fonts/Atkinson/WOFF/Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
	     url("fonts/Atkinson/TTF/Atkinson-Hyperlegible-Italic-102.ttf") format("truetype"),
	     url("fonts/Atkinson/SVG/Atkinson-Hyperlegible-Italic-102.svg") format("svg");
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("fonts/Atkinson/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
	     url("fonts/Atkinson/WOFF/Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
	     url("fonts/Atkinson/TTF/Atkinson-Hyperlegible-Italic-102.ttf") format("truetype"),
	     url("fonts/Atkinson/SVG/Atkinson-Hyperlegible-Italic-102.svg") format("svg");
	font-style: oblique;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("fonts/Atkinson/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2"),
	     url("fonts/Atkinson/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"),
	     url("fonts/Atkinson/TTF/Atkinson-Hyperlegible-BoldItalic-102.ttf") format("truetype"),
	     url("fonts/Atkinson/SVG/Atkinson-Hyperlegible-BoldItalic-102.svg") format("svg");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("fonts/Atkinson/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2"),
	     url("fonts/Atkinson/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"),
	     url("fonts/Atkinson/TTF/Atkinson-Hyperlegible-BoldItalic-102.ttf") format("truetype"),
	     url("fonts/Atkinson/SVG/Atkinson-Hyperlegible-BoldItalic-102.svg") format("svg");
	font-weight: bold;
	font-style: oblique;
	font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono Variable";
	src: url("fonts/berkeley-mono-variable/WEB/BerkeleyMonoVariable-Regular.woff2") format("woff2"),
	     url("fonts/berkeley-mono-variable/WEB/BerkeleyMonoVariable-Regular.woff") format("woff"),
	     url("fonts/berkeley-mono-variable/TTF/BerkeleyMonoVariable-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono Variable";
	src: url("fonts/berkeley-mono-variable/WEB/BerkeleyMonoVariable-Italic.woff2") format("woff2"),
	     url("fonts/berkeley-mono-variable/WEB/BerkeleyMonoVariable-Italic.woff") format("woff"),
	     url("fonts/berkeley-mono-variable/TTF/BerkeleyMonoVariable-Italic.ttf") format("truetype");
	     font-style: italic;
	     font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono Variable";
	src: url("fonts/berkeley-mono-variable/WEB/BerkeleyMonoVariable-Italic.woff2") format("woff2"),
	     url("fonts/berkeley-mono-variable/WEB/BerkeleyMonoVariable-Italic.woff") format("woff"),
	     url("fonts/berkeley-mono-variable/TTF/BerkeleyMonoVariable-Italic.ttf") format("truetype");
	     font-style: oblique;
	     font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono";
	src: url("fonts/berkeley-mono/WEB/BerkeleyMono-Regular.woff2") format("woff2"),
	     url("fonts/berkeley-mono/WEB/BerkeleyMono-Regular.woff") format("woff"),
	     url("fonts/berkeley-mono/TTF/BerkeleyMono-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono";
	src: url("fonts/berkeley-mono/WEB/BerkeleyMono-Bold.woff2") format("woff2"),
	     url("fonts/berkeley-mono/WEB/BerkeleyMono-Bold.woff") format("woff"),
	     url("fonts/berkeley-mono/TTF/BerkeleyMono-Bold.ttf") format("truetype");
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono";
	src: url("fonts/berkeley-mono/WEB/BerkeleyMono-Italic.woff2") format("woff2"),
	     url("fonts/berkeley-mono/WEB/BerkeleyMono-Italic.woff") format("woff"),
	     url("fonts/berkeley-mono/TTF/BerkeleyMono-Italic.ttf") format("truetype");
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono";
	src: url("fonts/berkeley-mono/WEB/BerkeleyMono-Italic.woff2") format("woff2"),
	     url("fonts/berkeley-mono/WEB/BerkeleyMono-Italic.woff") format("woff"),
	     url("fonts/berkeley-mono/TTF/BerkeleyMono-Italic.ttf") format("truetype");
	font-style: oblique;
	font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono";
	src: url("fonts/berkeley-mono/WEB/BerkeleyMono-BoldItalic.woff2") format("woff2"),
	     url("fonts/berkeley-mono/WEB/BerkeleyMono-BoldItalic.woff") format("woff"),
	     url("fonts/berkeley-mono/TTF/BerkeleyMono-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Berkeley Mono";
	src: url("fonts/berkeley-mono/WEB/BerkeleyMono-BoldItalic.woff2") format("woff2"),
	     url("fonts/berkeley-mono/WEB/BerkeleyMono-BoldItalic.woff") format("woff"),
	     url("fonts/berkeley-mono/TTF/BerkeleyMono-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: oblique;
	font-display: swap;
}

@font-face {
	font-family: "Inter Alia";
	src: url("fonts/interalia/WOFF2/InterAlia-Regular.woff2") format("woff2"),
	     url("fonts/interalia/TTF/InterAlia-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Inter Alia";
	src: url("fonts/interalia/WOFF2/InterAlia-Italic.woff2") format("woff2"),
	     url("fonts/interalia/TTF/InterAlia-Italic.ttf") format("truetype");
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Inter Alia";
	src: url("fonts/interalia/WOFF2/InterAlia-Italic.woff2") format("woff2"),
	     url("fonts/interalia/TTF/InterAlia-Italic.ttf") format("truetype");
	font-style: oblique;
	font-display: swap;
}

@font-face {
	font-family: "Inter Alia";
	src: url("fonts/interalia/WOFF2/InterAlia-Bold.woff2") format("woff2"),
	     url("fonts/interalia/TTF/InterAlia-Bold.ttf") format("truetype");
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: "Inter Alia";
	src: url("fonts/interalia/WOFF2/InterAlia-BoldItalic.woff2") format("woff2"),
	     url("fonts/interalia/TTF/InterAlia-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Inter Alia";
	src: url("fonts/interalia/WOFF2/InterAlia-BoldItalic.woff2") format("woff2"),
	     url("fonts/interalia/TTF/InterAlia-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: oblique;
	font-display: swap;
}

:root {
	--content-width: 60ch;
	--text-size: 1em;
	--fonts-text: "Atkinson Hyperlegible", "Inter Alia", sans-serif;
	--fonts-code: "Berkeley Mono", monospace;
	--fonts-note: "Helvetia", serif;

	--link-color: #DD6EC2;
	--link-color-visited: #8A6EDD;
	--accent-color: var(--fb-voidGreen);

	/* Fogbell Light (github.com/jaredgorski/fogbell.vim) */
	--fb-voidBlack: #121212;
	--fb-voidBlack2: #262626;
	--fb-voidGray1: #3E3D32;
	--fb-voidGray2: #49483E;
	--fb-voidGray3: #6B6B6B;
	--fb-voidGray4: #B0B0B0;
	--fb-voidSteel: #D0D0D0;
	--fb-voidBlue: #699B9B;
	--fb-voidGreen: #569F7A;
	--fb-voidGold: #8E700B;
	--fb-voidRed: #821A1A;
	--fb-voidRed2: #FF0000;

	/* @todo: xcode colors for code block */
	/* @todo: different color schemes via alternate stylesheets ? */
	--color-bg: var(--fb-voidSteel);
	--color-fg: var(--fb-voidBlack);
	--color-title: var(--fb-voidBlack);
	--color-section: var(--fb-voidBlack2);
	--color-code-lines: var(--fb-voidGray4);

	--color-keyword-fg: var(--fb-voidGreen);

	--color-sidenote-fg: var(--fb-voidBlack2);

	--color-selection-fg: var(--fb-voidBlack);
	--color-selection-bg: var(--fb-voidGray4);

	--color-tag-p-fg: var(--fb-voidGreen);
	--color-be-border: var(--fb-voidBlue);
	--color-be-shadow: var(--fb-voidGray4);

	--color-lang-sel-bg: var(--fb-voidGray4);
}

@media (prefers-color-scheme: dark) {
	:root {
		--link-color: #DD6EC2;
		--link-color-visited: #8A6EDD;
		--accent-color: #DD6EC2;

		/* Simple Dark (github.com/tek256/simple-dark) */
		/* copied from the kitty.conf */
		--sd-background: #0A0A0A;
		--sd-foreground: #B8B9B4;
		--sd-color0: #0A0A0A;
		--sd-color8: #2E2E2C;
		--sd-color1: #939490;
		--sd-color9: #989995;
		--sd-color2: #5E5E5C;
		--sd-color10: #636361;
		--sd-color3: #B6B8B3;
		--sd-color11: #BBBDB8;
		--sd-color4: #727370;
		--sd-color12: #777875;
		--sd-color5: #D1D1CB;
		--sd-color13: #D6D6D0;
		--sd-color6: #636361;
		--sd-color14: #696966;
		--sd-color7: #AAABA6;
		--sd-color15: #AFB0AB;

		/* html colors */
		--color-bg: var(--sd-background);
		--color-fg: var(--sd-foreground);
		--color-title: var(--sd-color13);
		--color-section: var(--sd-color5);
		--color-code-lines: var(--sd-color8);

		--color-keyword-fg: var(--link-color);

		--color-sidenote-fg: #585858;

		--color-selection-fg: var(--color-bg);
		--color-selection-bg: white;

		--color-tag-p-fg: var(--link-color);
		--color-be-border: var(--sd-color6);
		--color-be-shadow: var(--sd-color8);

		--color-lang-sel-bg: var(--sd-color8);
	}
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 10px;
	font-size: clamp(1em, 1.3vw, 1.3em);
}

::selection {
	color: var(--color-selection-fg);
	background-color: var(--color-selection-bg);
}

a {
	color: var(--link-color);
}

a:visited {
	color: var(--link-color-visited);
}

a[target=_blank] {
	position: relative;
	margin-right: 8px;
	/*white-space: nowrap;*/
}

a[target=_blank]::after {
	position: absolute;
	content: "↗";
	font-size: 0.6em;
	bottom: 0.6em;
}

a[target=_blank]:hover::after {
	font-size: 0.9em;
}

/*
body,
h1,
h2,
h3,
h4,
p,
blockquote,
code,
ul,
ol,
dl,
dd,
img {
    margin: 0;
}*/

body {
	margin: 0;
	color: var(--color-fg);
	background-color: var(--color-bg);
}

h1 {
	font-size: 2.5em;
	color: var(--color-title);
}

div.title h1 {
	margin: 0;
}

h2 a, h3 a {
	color: var(--color-section);
	text-decoration: none;
}

h2 a:visited, h3 a:visited {
	color: var(--color-section);
}

h2::before, h3::before {
	content: "\00B6";
	font-size: 0.9em;
	opacity: 0.5;
	position: absolute;
	left: -2rem;
	visibility: hidden;
}

h2:hover::before, h3:hover::before {
	visibility: visible;
}

section:target > h2::before, section:target > h3::before {
	visibility: visible;
}

body {
	line-height: 1.4;
	font-family: var(--fonts-text);
}

header {
	padding: 2em;
	padding-bottom: 0;
	margin: 0 auto;
	max-width: var(--content-width);
}

header p.fill {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

header span.keywords {
	display: flex;
	flex: 1; /* fill up parent flex container */
}

header span.keywords code {
	flex: 1;
	text-align: end;
	padding-left: 15px;
}

header span.keywords code a {
	color: var(--color-keyword-fg);
	text-decoration: none;
	position: relative;
}

header span.keywords code a:hover {
	font-weight: bold;
}

main {
	margin: 0 auto;
	/*max-width: 80ch;*/
	max-width: var(--content-width);
	padding: 2em;
}

@media screen and (max-width: 1079px) {
	main, header, footer {
		padding: 1em;
	}
}

aside.content-info {
	display: flex;
	flex-direction: column;
}

aside.content-info p {
	margin: 0 0.4em;
}

aside.content-info p:first-child {
	margin-left: 0;
}

aside.content-info p:last-child {
	margin-left: 0;
}

aside.content-info div.info {
	display: flex;
}

div.taglist {
	margin-top: 0.4em;
	display: flex;
}

div.taglist p {
	font-weight: bold;
	margin: 0 0.4em;
	color: var(--color-tag-p-fg);
	position: relative;
}

div.taglist p a {
	color: var(--color-tag-p-fg);
}

div.taglist p a:hover {
	color: var(--color-fg);
}

div.taglist p:first-child {
	margin-left: 0;
	margin-right: 0.4em;
}

div.taglist p:last-child {
	margin-right: 0;
	margin-left: 0.4em;
}

div.taglist p a {
	text-decoration: none;
	position: relative;
	/*padding: 0.3em;*/
}

article {
	position: relative;
	/*max-width: 60ch;*/
}

footer {
	margin: 0 auto;
	max-width: var(--content-width);
	text-align: center;
	padding: 2em;
}

footer span.credits {
	margin-top: .4em;
	display: flex;
}

footer span.credits a {
	flex-grow: 1;
}

#eof {
	width: 100%;
	text-align: center;
	font-family: var(--fonts-code);
	margin: 1em;
}

div.scroll-progress {
	position: fixed;
	z-index: 2;
	margin: 0 auto;
	padding: 0 2em;
	max-width: var(--content-width);
	left: 0;
	right: 0;
}

#scroll-progress {
	height: 2px;
	background: var(--color-fg);
	width: 0;
}

address {
	font-style: normal;
}

address a {
	text-decoration: underline;
	text-decoration-style: dotted;
	color: var(--color-fg);
}

ul.language-selection {
	padding: 0;
	width: fit-content;
	background-color: var(--color-lang-sel-bg);
	padding: .6rem;
}

ul.language-selection li ul {
	background-color: var(--color-lang-sel-bg);
}

ul.language-selection li {
	display: block;
	transition-duration: .5s;
}

ul.language-selection li:hover {
	cursor: pointer;
}

ul.language-selection li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.5s ease;
	left: 0;
	display: none;
	padding: 0;
}

ul.language-selection li:hover > ul,
ul.language-selection li:focus-within > ul,
ul.language-selection li ul:hover,
ul.language-selection li ul:focus {
	visibility: visible;
	opacity: 1;
	display: block;
}

ul.language-selection li ul li {
	padding: .6rem;
	clear: both;
	border-bottom: 2px solid black;
}

ul.language-selection li ul li:last-child {
	border-bottom: none;
}

#search {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	/*width: fill-available;*/
	padding: .4rem;
	background: var(--color-bg);
	color: var(--color-fg);
	font-size: 1rem;
	border: 1px solid var(--color-be-border);
}

/*
 * Code block
 */

pre {
	white-space: pre-wrap;
}

code {
	font-family: var(--fonts-code);
	/* white-space: pre; */
	line-height: 1.5;
}

code span.line-number {
	counter-increment: line;
	text-align: left;
	float: left;
	clear: left;
	width: 100%;
	border-top: 1px solid var(--color-code-lines);
}

code span.line-number:last-child {
	border-bottom: 1px solid var(--color-code-lines);
}

code span.line-number::before {
	content: counter(line) ' ';
	float: left;
	margin-left: auto;
	text-align: right;
	width: 6ch;
	border-right: 1px solid var(--color-code-lines);
}

code span.line-number::after {
	content: '  ';
	float: right;
	width: 6ch;
	border-left: 1px solid var(--color-code-lines);
}

@media screen and (min-width: 600px) {
	code span.comment {
		display: inline-block;
		width: 50%;
		text-align: right;
	}
}

/*
 * Side note
 * Adapted @from: https://github.com/kslstn/sidenotes/tree/main (GPL-2.0)
 */

.sidenote {
	display: inline;
}

.sidenote__button::after {
	content: "*";
	display: inline-block;
	font-family: var(--fonts-note);
}

.sidenote__checkbox {
	display: none;
}

/* invisible (off screen) but available to screen readers */
.sidenote__content-parenthesis {
	position: absolute;
	left: -99999px;
	top: auto;
}

@media screen and (max-width: 1079px) {
	.sidenote__checkbox~.sidenote__content {
		position: absolute;
		left: -99999px;
		top: auto;
	}

	.sidenote__checkbox:checked~.sidenote__content {
		position: relative;
		left: auto;
		float: left;
		min-width: 100%;
		min-width: -moz-available;
		min-width: -webkit-fill-available;
		display: block;
		margin: 0.8rem 0;
		padding: 0.8rem 1.6rem;
		font-family: var(--fonts-note);
	}

	.sidenote__button {
		color: var(--link-color);
		text-decoration: underline;
		text-decoration-style: dotted;
		cursor: pointer;
	}

	.sidenote__button:not(:hover):focus::after {
		display: inline;
	}

	.sidenote__checkbox:checked~.sidenote__button::after {
		content: none;
	}
}

@media screen and (min-width: 1080px) {
	.sidenote {
		--sidenote-width: 12rem;
		--sidenote-margin: 4.8rem;
		cursor: default;
	}

	.sidenote:hover .sidenote__button::after,
	/*.sidenote:hover .sidenote__content::before {*/
	.sidenote:hover .sidenote__content::after {
		color: var(--accent-color);
	}

	/*.sidenote__content::before {*/
	.sidenote__content::after {
		content: "*";
		font-family: var(--fonts-note);
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		position: absolute;
		top: 0;
		bottom: 0;
		/*left: -4rem;*/
		right: -1rem;
		width: 3rem;
	}

	.sidenote__content {
		display: block;
		position: absolute;
		/*right: 0;*/
		margin-top: calc(-1.5*var(--text-size));
		/*margin-right: calc(-1*var(--sidenote-width) - 1*var(--sidenote-margin));*/
		margin-left: calc(-1*var(--sidenote-width) - 1*var(--sidenote-margin));
		width: var(--sidenote-width);
		font-size: var(--text-size);
		color: var(--color-sidenote-fg);
		text-align: right;
		font-family: var(--fonts-note);
	}
}

/*
 * About WANTED
 */

#wanted-header {
	text-align: center;
	font-size: 5rem;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .8rem;
}

#wanted-for {
	text-align: center;
	text-transform: uppercase;
}

#wanted {
	position: relative;
}

@media screen and (min-width: 1080px) {
	span.wanted-attribute section {
		border: 1px solid white;
		width: 20ch;
		position: absolute;
		padding: 0 1rem;

		/*
		overflow: hidden;
		clip-path: polygon(
			0 10%,
			10% 0,
			90% 0,
			100% 10%,
			100% 90%,
			90% 100%,
			10% 100%,
			0% 90%,
			0% 10%
		);*/
	}
}

/*
 * Entry listing
 */

div.blog-entry {
	border: 3px solid var(--color-be-border);
	border-radius: 15px;
	box-shadow: 12px 10px 2px 1px var(--color-be-shadow);
	padding: .4em 1em;
	padding: 0 .6em 1em .6em;
	margin: 2em 0;
}

div.blog-entry h2 {
	margin-bottom: 0;
}

/* @fixme: ugly, maybe use a class where we want to have this set? */
div.blog-entry h2::before {
	content: none;
}

.pinned {
	position: relative;
}

/*
.pinned::after {
	content: '📌';
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
}
*/

hr {
	width: 90%;
}

p.blog-entry-section-note {
	font-family: var(--fonts-note);
	margin-top: 2rem;
	text-align: center;
}

@media screen and (min-width: 1080px) {
	p.blog-entry-section-note {
		--sidenote-width: 12rem;
		--sidenote-margin: 4.8rem;
		display: block;
		width: var(--sidenote-width);
		font-family: var(--fonts-note);
		position: absolute;
		margin-top: 1rem;
		margin-left: calc(-1*var(--sidenote-width) - 1*var(--sidenote-margin));
		text-align: right;
	}
}
